[
  {
    "mongo_port": "27017",
    "database_name": "user",
    "collection_name": "profile",
    "generate_fake_users": true,
    "truncate_table": true
  },
  {
    "mongo_port": "27018",
    "database_name": "user_session",
    "collection_name": "user_session",
    "truncate_table": true
  }
]