{
  "max_rooms": 10,

  "default_sprite_width": 164,

  "axis_len": 1440,

  "default_right_position": 1440,
  "default_left_position": 0,
  "default_movement_speed": 80,
  "default_len_symbols_slice": 6,
  "default_damage": 1,

  "score_kill_ghost": 60,
  "score_match_symbol": 10
}